<section class="content">
  <div class="row">


    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Select a presentation</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th style="width: 40px">Edit</th>
          </tr>
          <tr>
            <% var i = 1 %>
            <% _.each(presentations, function (presentation) { %>
            <td id="<%= presentation.id %>"><%= i %>.</td>
            <% i++ %>
            <td id="name<%= presentation.id %>"><%= presentation.get('name')%> </td>
            <td id="start<%= presentation.id %>"><%= presentation.get('start')%></td>
            <td id="end<%= presentation.id %>"><%= presentation.get('end')%></td>
            <td> <i id="<%= presentation.id %>" class="glyphicon glyphicon-pencil" data-original-title=""  data-toggle="modal" data-target="#myModal" title="myTitle" style="cursor: pointer;"></i></td>
          </tr>
          <% })%>
        </table>
      </div><!-- /.box-body -->
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit presentation</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="" action="">
              <fieldset>
                <legend>Edit presentation</legend>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="name">Name</label>  
                  <div class="col-md-4">
                    <input autocomplete='off' id="name" name="name" type="text" placeholder="placeholder" class="form-control input-md" value="" >
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="start">Start</label>  
                  <div class="col-md-4">
                    <input id="start" name="start" type="text" placeholder="placeholder" class="form-control input-md" value="">

                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="end">End</label>  
                  <div class="col-md-4">
                    <input id="end" name="end" type="text" placeholder="placeholder" class="form-control input-md" value="">

                  </div>
                </div>
              </fieldset>
            </form>
            <p>Some text in the modal.</p>
          </div>
          <div id="" class="modal-footer" name="saveCloseButton">
            <button id="save" name="button1id" data-dismiss="modal" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>    
  </div>
</section>

<script type="text/javascript">
  $(function () {
    <% _.each(presentations, function (presentation) { %>
      var start = moment(Date.parse("<%= presentation.get('start') %>")).format('MM/DD/YYYY HH:mm');
      //alert($("#start<%= presentation.id %>").text()); 
      $("#start<%= presentation.id %>").text(start);
      var end = moment(Date.parse("<%= presentation.get('end') %>")).format('MM/DD/YYYY HH:mm');
      $("#end<%= presentation.id %>").text(end);      
      <% })%>

    $('[data-target="#myModal"]').click(function(event) {
      var id = this.id;
      var name = $('#name'+id).text();
      var start = $("#start"+id).text();
      var end = $("#end"+id).text();
      fillModal(id, name, start, end);
    });

    // $('form').submit(function () {
    //         //alert('Je send mon form');
    //   var id = $('[name="saveCancelButton"]').attr('id');
    //   //alert(id);
    //   var name = $('.col-md-4 #name').attr('value');
    //   //alert(name)
    //   var start = $('.col-md-4 #start').attr('value');
    //   var end = $('.col-md-4 #end').attr('value');
    //   var data = {id: id, name: name, start: start, end: end};
    //   //console.log("data: "+data);
    //   //alert(data.name);
    //   $.ajax({
    //     type: 'POST',
    //     url: '/presentations/edit',
    //     timeout: 3000,
    //     dataType: 'json',
    //     data: JSON.stringify(data),
    //     contentType: "application/json; charset=UTF-8",
    //     success: function(data) {
    //       // location.href = "presentations/edit";
    //       //$(location).attr('href',"/presentations/edit");
    //       alert(data); 
    //     },
    //     error: function() {
    //       alert('La requête n\'a pas abouti'); }
    //     }); 
    //         return false;
    //     });

$('.modal').on('hidden.bs.modal', function(){
    $(this).find('form')[0].reset();
});

$('#save').click(function(){
      var id = $('[name="saveCloseButton"]').attr('id');
      //alert(id);
      var name = $('.col-md-4 #name').val();
      //alert(name)
      var start = $('.col-md-4 #start').val()
      var end = $('.col-md-4 #end').val()
      var data = {id: id, name: name, start: start, end: end};
      $.ajax({
        type: 'POST',
        url: '/presentations/edit',
        timeout: 10000,
        dataType: 'json',
        cache: false,
        data: JSON.stringify(data),
        contentType: "application/json; charset=UTF-8",
        success: function(data) {
          console.log("success AJAX: "+JSON.stringify(data));
          fillPage(id, name, start, end);
          //alert(data.name); 
        },
        error: function(error) {
          console.log("I'm in error ajax");
          alert('La requête n\'a pas abouti, error: '+error.message+" error code: "+error.code); 
       }
     });
      //setTimeout(function () { location.reload(true); }, 1000);
    });

function fillPage(id, name, start, end){
  var name = $('#name'+id).text(name);
  var start = $("#start"+id).text(start);
  var end = $("#end"+id).text(end);
}

function fillModal(id, name, start, end){
  //alert("Name "+name);
  var lineName = $('.col-md-4 #name');
  var lineStart = $('.col-md-4 #start');
  var lineEnd = $('.col-md-4 #end');
  lineName.attr('value', name);
  lineStart.attr('value', start);
  lineEnd.attr('value', end);
  alert("Sur ma ligne dans mon modal il y a "+lineName.attr('value'));
  $('[name="saveCloseButton"]').attr('id', id);
}


});
</script>