<div class="container">
  <div id="example">coucou</div>
  <h1> INSA Toulouse </h1>
  <h2>INSA JPO</h2>
  <p>Veuillez selectionner les présentations. </p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      	<% _.each(presentations, function (presentation) { %>
      <tr>
        <td><%= presentation.get('name') %></td>
        <td id="start<%= presentation.id %>"></td>
        <td id="end<%= presentation.id %>"></td>
        <td>
          <form action="/suscribePresentation" method="POST">
            <input type="hidden" name="presentationId" value="<%= presentation.id %>" />
            <input type="submit" value="Souscrire" class="btn btn-primary" />
        </td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function () {
    <% _.each(presentations, function (presentation) { %>
      var start = moment(Date.parse("<%= presentation.get('start') %>")).format('DD/MM/YYYY HH:mm');
      $("#start<%= presentation.id %>").text(start);
      var end = moment(Date.parse("<%= presentation.get('end') %>")).format('DD/MM/YYYY HH:mm');
      $("#end<%= presentation.id %>").text(end);      
    <% })%>
  });

  ReactDOM.render(React.createElement(
    'h1',
    null,
    'React installed!'
  ), document.getElementById('example'));
</script>