<div class="container">
  <h1> INSA Toulouse </h1>
  <h2>INSA JPO</h2>
  <p>Veuillez selectionner les présentations. </p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      	<% _.each(presentations, function (presentation) { %>
      <tr>
        <td><%= presentation.get('name') %></td>
        <td id="start<%= presentation.id %>"></td>
        <td id="end<%= presentation.id %>"></td>
        <td>
          <button id="<%= presentation.id %>" class="suscribeButton btn btn-primary">Ajouter à mon planning</button>
        </td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function () {
    <% _.each(presentations, function (presentation) { %>
      var start = moment(Date.parse("<%= presentation.get('start') %>")).format('DD/MM/YYYY HH:mm');
      $("#start<%= presentation.id %>").text(start);
      var end = moment(Date.parse("<%= presentation.get('end') %>")).format('DD/MM/YYYY HH:mm');
      $("#end<%= presentation.id %>").text(end);      
    <% })%>

    $('.suscribeButton').click(function(){
      var divAffichage = $(this);
      divAffichage.text("Ajout");
      divAffichage.attr("class", "btn btn-info");
      $.ajax({
         url : '/suscribePresentation',
         type : 'POST',
         data : 'presentationId=' + $(this).attr('id'),
         dataType : 'html',
         success : function(code_html, statut){
            divAffichage.text("Ajouté au planning !");
            divAffichage.attr("class", "btn btn-success");
         },
         error : function(resultat, statut, erreur){
           divAffichage.text("Erreur : " + erreur);
           divAffichage.attr("class", "btn btn-danger");
         },
      });
    });
  });

</script>