<section class="content">
  <div class="row">


    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Select a presentation</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th style="width: 40px">Edit</th>
          </tr>
          <tr>
            <% var i = 1 %>
            <% _.each(presentations, function (presentation) { %>
            <td id="<%= presentation.id %>"><%= i %>.</td>
            <% i++ %>
            <td id="name<%= presentation.id %>"><%= presentation.get('name')%> </td>
            <td id="start<%= presentation.id %>">a</td>
            <td id="end<%= presentation.id %>">b</td>
            <td> <i id="<%= presentation.id %>" class="glyphicon glyphicon-pencil" data-original-title=""  data-toggle="modal" data-target="#myModal" title="myTitle" style="cursor: pointer;"></i></td>
          </tr>
          <% })%>
        </table>
      </div><!-- /.box-body -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style=".modal-dialog-center {margin-top: 25%;}">
          <form class="form-horizontal">
            <fieldset>
              <legend>Edit presentation</legend>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>  
                <div class="col-md-4">
                  <input id="name" name="name" type="text" placeholder="placeholder" class="form-control input-md" value="myValue1">
                </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="start">Start</label>  
                <div class="col-md-4">
                  <input id="start" name="start" type="text" placeholder="placeholder" class="form-control input-md" >

                </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="end">End</label>  
                <div class="col-md-4">
                  <input id="end" name="end" type="text" placeholder="placeholder" class="form-control input-md">

                </div>
              </div>
              <!-- Button (Double) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"> </label>
                <div class="col-md-8">
                  <button id="button1id" name="button1id" class="btn btn-success">Edit</button>
                  <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
                </div>
              </div>

            </fieldset>
          </form>

        </div>

      </div>
    </div>
    
  </div>
</section>

 <script type="text/javascript">
  $(function () {
    <% _.each(presentations, function (presentation) { %>
      var start = moment(Date.parse("<%= presentation.get('start') %>")).format('DD/MM/YYYY HH:mm');
      //alert($("#start<%= presentation.id %>").text()); 
      $("#start<%= presentation.id %>").text(start);
      var end = moment(Date.parse("<%= presentation.get('end') %>")).format('DD/MM/YYYY HH:mm');
      $("#end<%= presentation.id %>").text(end);      
    <% })%>

    $('[data-target="#myModal"]').click(function(event) {
        var id = this.id;
        var name = $('#name'+id).text();
        var start = $("#start"+id).text();
        var end = $("#end"+id).text();
        fillModal(id, name, start, end);
    });

    function fillModal(id, name, start, end){
      var lineName = $('.col-md-4 #name');
      var lineStart = $('.col-md-4 #start');
      var lineEnd = $('.col-md-4 #end');
      lineName.attr('value', name);
      lineStart.attr('value', start);
      lineEnd.attr('value', end);
    }


  });
</script>