<section class="content">
  <div class="row">


    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Select a presentation</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th style="width: 40px">Edit</th>
          </tr>
          <tr>
            <% var i = 1 %>
            <% _.each(presentations, function (presentation) { %>
            <td id="<%= presentation.id %>"><%= i %>.</td>
            <% i++ %>
            <td><%= presentation.get('name')%> </td>
            <td><%= presentation.get('start').toLocaleString()%></td>
            <td><%= presentation.get('end').toLocaleString()%></td>
            <td><i class="glyphicon glyphicon-pencil" data-original-title=""  data-toggle="modal" data-target="#myModal"title="" style="cursor: pointer;"></i></td>
          </tr>
          <% })%>
        </table>
      </div><!-- /.box-body -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit presentation</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
          <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="placeholder" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="start">Start</label>  
  <div class="col-md-4">
  <input id="start" name="start" type="text" placeholder="placeholder" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="end">End</label>  
  <div class="col-md-4">
  <input id="end" name="end" type="text" placeholder="placeholder" class="form-control input-md">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"> </label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success">Edit</button>
    <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
  </div>
</div>

</fieldset>
</form>

        </div>

      </div>
    </div>
    
  </div>
</section>